<h3>{{portfolioTitle}}</h3>

<app-apiInfo (addedApi)="addedApi($event)"></app-apiInfo>
<div *ngIf="user.apiInfo.length > 0">
    <h3>My API Keys</h3>
    <div *ngFor="let api of user.apiInfo">
        <div>Exchange: {{api.source}}</div>
        <div>Key: {{api.apiKey}}</div>
    </div>
</div>
<div>
    <h3>My Portfolio</h3>
    <app-newTransaction [allCoins]="allCoins"></app-newTransaction>
    <div *ngIf="user.coinInfo.length > 0">
        <app-crypto></app-crypto>
    </div>
    <div *ngIf="user.coinInfo.length === 0">
        Your portfolio is empty.
    </div>
</div>