<div><button (click)="toggleNewTrx(true)">+ Transaction</button></div>
<div [hidden]="!newTransaction">
    <h3>Add a new transaction:</h3>
    <button (click)="setTrxType(3)">Buy</button> | <button (click)="setTrxType(4)">Sell</button> | 
    <button (click)="setTrxType(2)">ICO</button> | <button (click)="setTrxType(1)">Airdrop</button> | 
    <button (click)="setTrxType(6)">XFER</button>
    <div *ngIf="ico || buy || sell || airdrop || xfer">
    <div>
        <div>Coin/Token:</div><div><input [(ngModel)]="transaction.symbol" placeholder="symbol" (ngModelChange)="onSymbolChanged($event)"/></div>
        <div>Name:</div><div><input [(ngModel)]="transaction.name" placeholder="name" /></div>
        <div>Date: </div><div><input [(ngModel)]="transaction.date" placeholder="trx date" /></div>
    </div>
    <div *ngIf="buy || sell || xfer">
        <div *ngIf="buy || sell">Location: </div>
        <div *ngIf="xfer">From: </div>
        <select [(ngModel)]="transaction.sourceLocation" (ngModelChange)="onSrcLocChanged($event)">
            <option *ngFor="let location of locationList" [ngValue]="location">{{ location }}</option>
        </select>
        <app-address [addressList]="addressList" [locationType]="'source'" (addedApi)="addedAddress($event)" *ngIf="srcAddress"></app-address>
        <div *ngIf="xfer">
            <div>To: </div>
            <select [(ngModel)]="transaction.destinationLocation" (ngModelChange)="onDestLocChanged()">
                <option *ngFor="let location of locationList" [ngValue]="location">{{ location }}</option>
            </select>
        </div>
        <app-address [addressList]="addressList" [locationType]="'destination'" (addedApi)="addedAddress($event)" *ngIf="destAddress"></app-address>
    </div>
    <div *ngIf="sell">
        <div>Available: {{ available }}</div>
    </div>
    <div>
        <div>Qty: </div><div><input [(ngModel)]="transaction.quantity" placeholder="quantity" /></div>
    </div>
    <div *ngIf="ico || buy">
        <div>Purchased With: </div><div><input [(ngModel)]="transaction.pair" placeholder="pair" /></div>
    </div>
    <div *ngIf="sell">
        <div>Sold With: </div><div><input [(ngModel)]="transaction.pair" placeholder="pair" /></div>
    </div>
    <div *ngIf="ico || buy || sell">
        <div>Price: </div><div><input [(ngModel)]="transaction.price" placeholder="price" /></div>
    </div>
    <div *ngIf="buy || sell || xfer">
        <div>Fee Amount: <input [(ngModel)]="transaction.fee" placeholder="amount" /></div>
        <div>Fee Type: <input [(ngModel)]="transaction.feeSymbol" placeholder="symbol" /></div>
    </div>
    </div>
    <input type="button" value="Add" (click)="addTransaction()" *ngIf="ico || buy || sell || airdrop || xfer "/>
    <span *ngIf="!ico && !buy && !sell && !airdrop && !xfer"> | </span>
    <input type="button" value="Cancel" (click)="toggleNewTrx(false)" />
</div>
